<div class="breadcrumbs s-row">
    <a class="font-body__xxs__regular primary" href="">главная</a>
    <span class="font-body__xxs__regular secondary">/</span>
    <a class="font-body__xxs__regular secondary">фотографии</a>
</div>

@code {



}