@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar animate__animated animate__fadeInLeft">
        <Sidebar/>
    </div>

    <div class="content container">
        @Body
    </div>
</div>