<div class="search-row s-row justify-space-between align-items-center animate__animated animate__fadeInDown">

    <div class="search-bar s-row">
        <img class="icon" src="images/search-normal.svg"/>
        <input class="font-body__xs__regular" type="text" placeholder="Начните вводить для поиска"/>
    </div>

    <div class="profile s-row align-items-center">

        <a class="notifications" href="#notifications">
            <p class="s-row">
                <img class="icon animate__animated animate__faster" src="images/notification.svg"/>
            </p>
        </a>

        <div class="photo s-row">
            <img src="images/telegram-peer-photo.png"/>
        </div>

        <div class="data s-col">
            <p class="font-body__s__bold light">Юрий Дудь</p>
            <p class="font-body__xs__regular rating s-row align-items-center">
                <span class="font-body__xxs__regular secondary rating-label">рейтинг:</span>
                <img class="icon-16" src="images/heart.svg"/>
                <span class="font-body__xxs__semi-bold light rating-value">4,6</span>
            </p>
        </div>

        <a class="more" href="#actions">
            <p>
                <img class="icon" src="images/arrow-down.svg"/>
            </p>
        </a>

    </div>

</div>