@inherits LayoutComponentBase
@inject NavigationManager _navigation


<div class="page">
    <Sidebar/>

    <div class="content container">
        <TopBar/>
        @Body
    </div>

    <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">

        <div class="modal__overlay" tabindex="-1">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <main class="modal__content s-row" id="modal-1-content">

                    <img src="images/yurydud.png"/>

                    <div class="right-content s-col">

                        <div class="header s-row justify-space-between">

                            <div class="s-row align-items-center col-gap-24">
                                <p class="s-row align-items-center col-gap-8">
                                    <img class="icon" src="images/InstagramLogo.svg"/>
                                    <span class="font-body__xs__bold light">yurydud</span>
                                </p>

                                <p class="s-row align-items-center col-gap-8">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.1401 21.62C17.2601 21.88 16.2201 22 15.0001 22H9.00011C7.78011 22 6.74011 21.88 5.86011 21.62C6.08011 19.02 8.75011 16.97 12.0001 16.97C15.2501 16.97 17.9201 19.02 18.1401 21.62Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15 2H9C4 2 2 4 2 9V15C2 18.78 3.14 20.85 5.86 21.62C6.08 19.02 8.75 16.97 12 16.97C15.25 16.97 17.92 19.02 18.14 21.62C20.86 20.85 22 18.78 22 15V9C22 4 20 2 15 2ZM12 14.17C10.02 14.17 8.42 12.56 8.42 10.58C8.42 8.60002 10.02 7 12 7C13.98 7 15.58 8.60002 15.58 10.58C15.58 12.56 13.98 14.17 12 14.17Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.5799 10.58C15.5799 12.56 13.9799 14.17 11.9999 14.17C10.0199 14.17 8.41992 12.56 8.41992 10.58C8.41992 8.60002 10.0199 7 11.9999 7C13.9799 7 15.5799 8.60002 15.5799 10.58Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span class="font-body__xs__bold light">4,7 млн</span>
                                </p>
                            </div>

                            <a href="#share">
                                <p class="s-row align-items-center justify-center col-gap-8 font-body__xs__regular light">
                                    <span>перейти к посту</span>
                                    <img class="icon-16" src="images/export.svg"/>
                                </p>
                            </a>

                        </div>

                        <div class="info s-row align-items-center col-gap-16">

                            <p class="s-row align-items-center font-body__xxs__semi-bold light col-gap-8">
                                <img class="icon-16" src="images/like.svg"/>
                                <span>положительно</span>
                            </p>

                            <p class="s-row align-items-center font-body__xxs__semi-bold primary">
                                1 час назад
                            </p>

                            <p class="platform s-row align-items-center font-body__xxxxs__semi-bold light">
                                instagram
                            </p>

                        </div>

                        <p class="font-body__m__regular light margin-top-16">
                            Продолжаем исследовать с Серегами среднюю полосу. В этот раз сгоняли в Ярославскую область: за пейзажами Волги и неожиданной достопримечательностью в Рыбинске, где на магазинах и офисах сделали стильные таблички в дореволюционном формате – и теперь весь центр выглядит как в исторических фильмах.
                        </p>

                    </div>

                </main>
            </div>
        </div>

        <button class="modal__close" data-micromodal-close aria-label="Close modal">
            <img class="icon-56" src="images/add.svg">
        </button>

    </div>

</div>