@page "/"
@inject IJSRuntime _js

<div class="index">

    <div class="row align-items-center animate__animated animate__fadeInDown">

        <div class="col-9">
            <div class="search-bar row">
                <img class="icon" src="images/search-normal.svg"/>
                <input class="font-body__xs__regular" type="text" placeholder="Начните вводить для поиска"/>
            </div>
        </div>

        <div class="col-3">
            <div class="profile">

                <div class="notifications">
                    <a href="#notifications">
                        <p>
                            <img class="icon" src="images/notification.svg"/>
                        </p>
                    </a>

                </div>

                <div class="photo">
                    <img src="images/telegram-peer-photo.png"/>
                </div>

                <div class="data">
                    <p class="font-body__xs__regular light">Юрий Дудь</p>
                    <p class="font-body__xs__regular rating">
                        <span class="font-body__xs__regular secondary rating-label">рейтинг:</span>
                        <img class="icon" src="images/heart.svg"/>
                        <span class="font-body__xs__regular light rating-value">4,6</span>
                    </p>
                </div>

                <div class="actions">
                    <a href="#actions">
                        <p>
                            <img class="icon" src="images/arrow-down.svg"/>
                        </p>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <div class="analytics-row row animate__animated animate__fadeIn">

        <div class="analytics-col">

            <div class="analytics-box justify-space-between">

                <div class="analytics-item justify-space-between">
                    <img src="images/picture-front-color.png"/>

                    <p class="analytics-text">
                        <span>241</span><br/>
                        <span class="font-body__m__regular text">новая фотография</span>
                    </p>
                </div>

                <div class="analytics-item justify-space-between">
                    <img src="images/at-front-color.png"/>

                    <p class="analytics-text">
                        <span>12</span><br/>
                        <span class="font-body__m__regular text">упоминаний в СМИ</span>
                    </p>
                </div>

                <div class="analytics-item justify-space-between">
                    <img src="images/chat-front-color.png"/>

                    <p class="analytics-text">
                        <span>41</span><br/>
                        <span class="font-body__m__regular text">комментарий</span>
                    </p>
                </div>

            </div>

            <div class="mentions-box">
                <div class="mentions-box-content">

                    <div class="mentions-header s-row justify-space-between">

                        <p class="font-body__xs__bold text">Упоминания в СМИ</p>

                        <a href="#filters">
                            <p class="font-body__xs__regular primary mentions-filter">
                                <span>самые популярные</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.9201 8.94995L13.4001 15.47C12.6301 16.24 11.3701 16.24 10.6001 15.47L4.08008 8.94995" stroke="#349FFC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </p>
                        </a>

                    </div>

                    <div class="mention-item">

                        <p class="font-body__xs__bold light">"Сколько вы зарабатываете?" О Юрии Дуде и поколении YouTube</p>

                        <p class="mention-details">
                            <span class="font-body__xs__bold primary">12 октября 2019</span>
                            <span class="mention-details-tag font-body__xs__bold light">LIVEJOURNAL</span>
                        </p>

                    </div>

                    <div class="mentions-divider"></div> 

                    <div class="mention-item">

                        <p class="font-body__xs__bold light">"Сколько вы зарабатываете?" О Юрии Дуде и поколении YouTube</p>

                        <p class="mention-details">
                            <span class="font-body__xs__bold primary">12 октября 2019</span>
                            <span class="mention-details-tag font-body__xs__bold light">LIVEJOURNAL</span>
                        </p>

                    </div>

                    <div class="mentions-divider"></div>

                    <div class="mention-item">

                        <p class="font-body__xs__bold light">"Сколько вы зарабатываете?" О Юрии Дуде и поколении YouTube</p>

                        <p class="mention-details">
                            <span class="font-body__xs__bold primary">12 октября 2019</span>
                            <span class="mention-details-tag font-body__xs__bold light">LIVEJOURNAL</span>
                        </p>

                    </div>

                    <div class="mentions-divider"></div>

                </div>
            </div>

        </div>

        <div class="activity-box">
            <div class="activity-box-content">

            </div>
        </div>

    </div>
</div>

@code
{
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _js.InvokeVoidAsync("initIndex");
        }
    }
}