@page "/"

<h1>Hello world !</h1>

<model-viewer src="data/chelos.glb"
              camera-controls
              seamless-poster
              ar
              ar-modes="webxr scene-viewer quick-look"
              camera-orbit="45deg 55deg"
              exposure="0.19">
</model-viewer>