@page "/"

@inject SignOutSessionStateManager SignOutManager
@inject NavigationManager nav

<h1>Hello world !</h1>

<model-viewer src="data/chelos.glb"
              camera-controls
              seamless-poster
              ar
              ar-modes="webxr scene-viewer quick-look"
              camera-orbit="45deg 55deg"
              exposure="0.19">
</model-viewer>

<button class="btn btn-danger" @onclick="Logout"></button>

        
@code{
    public async Task Logout()
    {
        await SignOutManager.SetSignOutState();
        nav.NavigateTo("authentication/logout");
    }
}