@use 'sass:math';

.container {
  //width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.s-row {
  display: flex;
}

.s-col {
  display: flex;
  flex-direction: column;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  padding-right: 15px;
  padding-left: 15px;
}

$columns: 12;

@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 percentage(math.div($i, $columns));
    max-width: percentage(math.div($i, $columns));
    padding-right: 15px;
    padding-left: 15px;
  }
}

@for $i from 1 through $columns - 1 {
  .offset-#{$i} {
    margin-left: percentage(math.div($i, $columns));
  }
}

@for $i from 1 through 24 {
  .col-gap-#{$i*4} {
    column-gap: $i * 4px;
  } 

  .row-gap-#{$i*4} {
    row-gap: $i * 4px;
  }

  .margin-top-#{$i*4} {
    margin-top: $i * 4px;
  }

  .margin-bottom-#{$i*4} {
    margin-bottom: $i * 4px;
  }

  .margin-right-#{$i*4} {
    margin-right: $i * 4px;
  }

  .margin-left-#{$i*4} {
    margin-left: $i * 4px;
  }
}

.align-items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.background-gradient-wrapper {
  background: linear-gradient(180deg, #555A6E 0%, #1D1E23 38.02%);
  border-radius: 32px;
  padding: 1px;

  .background-gradient {
    background: linear-gradient(180deg, #2E313C 0%, #1D1E23 38.02%);
    border-radius: 32px;
  }
}

